/* UTILITIES */

/* BODY */
.ms_wrapper {
  width: 100%;
  height: calc(100vh - 80px);
}

/* HEADER */
.ms_header {
  width: 100%;
  /* debug */
  height: 80px;
  background-color: gray;
  border: 1px solid black;
}

/* MAIN */
.ms_aside {
  background-color: blue;
  height: calc(100vh - 80px);
  width: 90px;
  border: 1px solid black;
}

@media screen and (min-width:992px) {
  .ms_aside {
    width: 180px;
  }
}

/* MAIN SECTION */
#ms_main-section {
  overflow-y: auto;
  /* debug */
  background-color: rgb(231, 148, 231);
  height: calc(100vh - 80px);
  flex-grow: 1;
  border: 1px solid black;
}
