/* UTILITIES */

/* BODY */
.ms_wrapper {
  width: 100%;
  height: calc(100vh - 80px);
}

/* HEADER */
.ms_header {
  width: 100%;
  height: 80px;
}

.ms_around-search {
  width: 80px;
  height: 80px;
}

.ms_form-control {
  background-color: #e9ecef;
  border-left: none;
}

.ms_searchbar-div {
  flex-grow: 1;
}

@media screen and (min-width:992px) {
  .ms_around-search {
    width: 180px;
    height: 80px;
  }
}

/* MAIN */
.ms_aside {
  background-color: blue;
  height: calc(100vh - 80px);
  width: 90px;
  border: 1px solid black;
}

@media screen and (min-width:992px) {
  .ms_aside {
    width: 180px;
  }
}

/* MAIN SECTION */
#ms_main-section {
  overflow-y: auto;
  /* debug */
  background-color: rgb(231, 148, 231);
  height: calc(100vh - 80px);
  flex-grow: 1;
  border: 1px solid black;
}

/* HEADER MAIN */
.ms_header-main {
  width: 100%;
  /* debug */
  height: 150px;
  background-color: lightblue;
}
