/* ROOT */
:root {
  --ms_sidebar-width: 80px;
}

@media screen and (min-width:992px) {
  :root {
    --ms_sidebar-width: 180px;
  }
}

/* BODY */
.ms_wrapper {
  width: 100%;
  height: 100vh;
}

/* HEADER */
.ms_header {
  width: 100%;
  height: 80px;
}

.ms_around-search {
  width: 80px;
  height: 80px;
}

.ms_form-control {
  background-color: #e9ecef;
  border-left: none;
}

.ms_searchbar-div {
  flex-grow: 1;
}

@media screen and (min-width:992px) {
  .ms_around-search {
    width: 180px;
    height: 80px;
  }
}

/* MAIN */
.ms_sidebar {
  background-color: #051E34;
  background-image: url(../img/sidebar-bg.png);
  background-position: center;
  height: calc(100vh - 80px);
  width: var(--ms_sidebar-width);
  overflow-y: hidden;
}

/* MAIN SECTION */
#ms_main-section {
  overflow-y: auto;  
  height: calc(100vh - 80px);
  width: calc(100% - var(--ms_sidebar-width));
  background-color: #F8F9FA;

}
/* HEADER MAIN */
.ms_header-main {
  width: 100%;
  /* debug */
  height: 150px;
  background-color: lightblue;
}
